
.bdyimg{
    background-color: #ff0044;
}

p.heading{
    font-family:lobster,sans-serif;
    font-size:32px;
    color:black;
    font-weight:bold;
}
div.heading1{
    margin-top:20px;
    position: static;
    background-color: #ff0066;
}
p.subhead1{
    font-family: mina-bold,sans-serif;
    font-size:16px;
}
div.quote{
    background-color: #1a53af;
    height:144px;
    width:auto;
    border:1px black solid;
    display: none;
}
p.quote1{
    font-family: kalam-light,sans-serif;
    font-size:16px;
    color:white;
}
div.photobooth{
    height: 400px;
    width:auto;
    background-color: deeppink;
}
div.booth1{
    height:212px;
    width:auto;
    background-color: #ff0066;
}
img.pic1{
    height:210px;
    width:auto;
}
div.extrab1{
    display: none;
    height:300px;
    width:auto;
    background-color: #ff0066;
}
img.insider1{
    display:none;
    height:250px;
    width:auto;
}
p.imagehead{
    font-family: kaushan, sans-serif;
    font-size:24px;
    color:white;
    font-style: italic;
}
img.picture3{
    height:205px;
    width:auto;
    margin-left:4px;
    margin-top:2px;
}
div.ihead{
    background-color: #1a53af;
}
div.headingbar{
    height:80px;
    width:auto;
    background-color: #1a53af;
}
p.subhead2{
    font-family:anton, sans-serif;
    font-size:32px;
    color:white;
}
div.cards{
    height:280px;
    width:auto;
    background-color: #99ff66;
    background-size: cover;
    padding-top:100px;
}
p.oncard{
    margin-top:10px;
    background-color: black;
    opacity:0.4;
    color:white;
    font-size:20px;
    font-family: gloria,sans-serif;
}
img.imgbox{
    height:125px;
    width:100%;
}
div.imagebox_{
    border: 1px black solid;
    background-color: #0088ff;
}